docs/
data/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/
__pycache__/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/

.dmypy.json
dmypy.json

# PyCharm
.idea/

# Visual Studio Code
.vscode/

# Ruff stuff:
.ruff_cache/

# Packaging artifacts
*.egg-info/

# misc
.codex


